:root{
    --font-fraunces: 'Fraunces', serif;
    --font-montserrate: 'Montserrat', sans-serif;
    --color-dark-cyan: hsl(158, 36%, 37%);
    --color-cream: hsl(30, 38%, 92%);
    --color-dark-blue:hsl(212, 21%, 14%);
    --color-grayish-blue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);
    --font-size-link: 11px;
    --font-size-default: 0.875rem;
}

body{
    margin: unset;
    background-color: var(--color-cream);
}

h1, h2, h3{
    font-family: var(--font-fraunces);
}

p{
    font-size: var(--font-size-default);
}

p, span{
    font-family: var(--font-montserrate);
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    max-width: 600px;
    margin: 1.875em;
}

.img-container {
    min-height: 100%;
}

.img-container,
.img-container img.desktop{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.img-container img.desktop, 
.img-container img.mobile{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-container img.mobile{
    display: none;
}


.text-container {
    min-height: 100%;
    padding: 1.98em;
    background-color: #FFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.text-container .preview-text{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: var(--color-grayish-blue);
}

.text-container .title {
    font-size: 40px;
    color: var(--color-dark-blue);
}

.text-container .desc{
    font-size: var(--font-size-default);
    color: var(--color-grayish-blue);
    line-height: 1.2500em;
}

.text-container div.price{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-container div.price p{
    font-size: 48px;
    color: var(--color-dark-cyan);
    font-weight: 700;
    margin-right: 20px;
}

.text-container div.price span{
    color: var(--color-grayish-blue);
    font-weight: 500;
    text-decoration: line-through;
}

button.btn.btn-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: unset;
    border-radius: 10px;
    background-color: var(--color-dark-cyan);
    color: #FFF;
    width: 100%;
    font-size: 1rem;
    font-family: var(--font-montserrate);
    font-weight: 700;
    letter-spacing: 0.13em;
    transition: background-color 0.5s ease-out;
}

button.btn.btn-submit img {
    margin-right: 10px;
}

button.btn.btn-submit:hover {
    background-color: #3c8067b0;
}

footer.attribution { 
    font-size: var(--font-size-link);
    text-align: center; 
    margin-bottom: 10px;
}

footer.attribution a { 
    color: var(--color-grayish-blue);
    transition: all 0.3s ease-out;
}

footer.attribution a:hover{
    color: var(--color-dark-cyan);
}

@media only screen and (max-width: 767px) {
    main .container{
        flex-direction: column;
        margin: 25px;
    }

    .text-container{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: unset;
    }

    .img-container, .img-container img.mobile{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .img-container img.desktop{
        display: none;
    }

    .img-container img.mobile{
        display: block;
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}